<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Assignment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action="/process_form" method="POST" class="wrapper_form">
        <p><label for="">Name:</label>
            <input type="text" name='user_name'></p>

        <p><label for="">Dojo Location:</label>
            <select name="dojo_location">
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="Virtual">Online</option>
            </select></p>

        <p><label for="">Favorite Language:</label>
            <select name="fav_language">
                <option value="Java">Java</option>
                <option value="HTML">HTML</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select></p>

            <p><label for="">Comment:</label></p>
            <p><textarea name="comment" cols="55" rows="10"></textarea></p>

            <button>Submit</button>
    </form>
</body>
</html>